<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <title>Payslip</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
        @import url('C:\Roveena\hrms-backend\src\modules\mail-config\templates\mail\payslip\logo_abs-copy copy.png');

        * {
            font-family: 'Poppins' !important;
        }

        .super {
            color: black;
        }

        .brand {
            color: slategrey;
        }

        .page-break {
            page-break-before: always;
        }

        @page {
            size: A4 portrait;
        }

        table {
            page-break-inside: avoid;
        }

        @media (max-width: 600px) {
            .sm-w-full {
                width: 100% !important
            }

            .sm-px-0 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .sm-px-2 {
                padding-left: 8px !important;
                padding-right: 8px !important
            }

            .sm-px-6 {
                padding-left: 24px !important;
                padding-right: 24px !important;
            }

            .sm-py-3 {
                padding-top: 12px !important;
                padding-bottom: 12px !important;
            }

            .sm-text-sm {
                font-size: 14px !important;
            }

            .sm-text-v-sm {
                font-weight: 100;
            }

            .sm-text-name {
                font-size: 24px !important;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto;

        }
    </style>


</head>

<body>
    <div style="margin: 0; width: 100%; padding: 0; text-align: center; background-color:#f6f6f6; height:100%">
        <div style="padding:10px 0px;">
            <div style="text-align: center; width: 100%;">
                <div style="width: 80%; margin: 0 auto; background-color: #FFFFFF;padding: 20px; border-radius: 8px;">

                    <div class="grid-container" style="">
                        <div>
                            <h3 style="text-align: left; font-size: 18px; font-weight:bolder;" class="super">
                                PAYSLIP <span style="font-weight: 100;color:grey">{{client_data.date}}</span>
                            </h3>

                            <p style="text-align: left; font-size: 12px; font-weight: bold;" class="super">
                                {{client_data.client_name}}</p>
                            <p style="width: 50% ;text-align: left; ; font-size: 10px;">
                                {{client_data.client_address}}</p>
                        </div>
                        <div style="position: relative; width:200px; font-size:medium; text-align: end;">
                            <img style=" position: absolute; bottom: 10px; right:0;"
                                src={{client_data.logo}}
                                alt="" width="200px" height="70px">
                        </div>
                    </div>

                    <p style="text-align: left; font-size: 12px; font-weight: bold;">Employee Name :
                        {{personal_data.employee_name}}</p>
                    <hr>



                    <table style="width:100%">
                        <tr style="width:100%; text-align:left; font-size: 10px;">
                            <td style="width:25%">Employee number</td>
                            <td style="width:25%">Date Joined</td>
                            <td style="width:25%">Department</td>
                            <td style="width:25%">Designation</td>
                        </tr>
                        <tr style=" text-align: left;  font-size: 10px; font-weight: 600;">
                            <td style="width:25%">{{personal_data.employee_code}}</td>
                            <td style="width:25%">{{personal_data.doj}}</td>
                            <td style="width:25%">{{personal_data.department}}</td>
                            <td style="width:25%">{{personal_data.designation}}</td>
                        </tr>
                    </table>



                    <hr>
                    <table style="width:100%">
                        <tr style="width:100%;  text-align:left; font-size: 10px;">
                            <td style="width:25%">Payment Mode</td>
                            <td style="width:25%">Bank Name</td>
                            <td style="width:25%">Bank Account</td>
                            <td style="width:25%">Bank IFSC</td>
                        </tr>
                        <tr style=" text-align: left;  font-size: 10px; font-weight: 600;">
                            <td style="width:25%">{{personal_data.payment_mode}}</td>
                            <td style="width:25%">{{personal_data.bank_name}}</td>
                            <td style="width:25%">{{personal_data.bank_account_no}}</td>
                            <td style="width:25%">{{personal_data.bank_ifsc}}</td>
                        </tr>
                    </table>

                    <hr>
                    <table style="width:100%">
                        <tr style="  text-align:left;  font-size: 10px;">
                            <td style="width:25%">PAN</td>
                            <td style="width:25%">ESIC</td>
                            <td style="width:25%">UAN</td>
                            <td style="width:25%">EPF Number</td>
                        </tr>
                        <tr style=" text-align: left;  font-size: 10px; font-weight: 600;">
                            <td style="width:25%">{{personal_data.pan_number}}</td>
                            <td style="width:25%">{{personal_data.esic_number}}</td>
                            <td style="width:25%">{{personal_data.uan_number}}</td>
                            <td style="width:25%">{{personal_data.pf_number}}</td>
                        </tr>
                    </table>
                    {{#if can_show_leave}}
                    <hr>
                    <h3 style="text-align: left; font-size: 12px; font-weight:600;" class="super"> LEAVE DETAILS</h3>
                    <hr style="color: black;">
                    <table style="width:100%">
                        <tr style="width:100% ; text-align: left; font-size: 10px;">
                            <td style="width:25%">Leave Type</td>
                            <td style="width:25%">Opening Balance</td>
                            <td style="width:25%">Availed</td>
                            <td style="width:25%">Closing Balance</td>
                        </tr>
                        {{#each leave_details}}
                        <tr style=" text-align: left; font-size: 10px; font-weight: 600;">
                            <td style="width:25%">{{this.leaveType}}</td>
                            <td style="width:25%">{{this.opening_balance}}</td>
                            <td style="width:25%">{{this.availed}}</td>
                            <td style="width:25%">{{this.closing_balance}}</td>
                        </tr>
                         {{/each}}
                        
                    </table>
                   {{/if}}
                    <hr>

                    <h4 style="text-align: left; font-size: 12px; font-weight: bold;">SALARY DETAILS</h4>

                    <hr>


                    <table style="width:100%">
                        <tr style="width:100%; text-align:left;  font-size: 10px;">
                            <td style="width:25%">ACTUAL PAYABLE DAYS</td>
                            <td style="width:25%">TOTAL WORKING DAYS</td>
                            <td style="width:25%">LOSS OF PAY DAYS</td>
                            <td style="width:25%">ARREARS DAYS PAYABLE</td>
                        </tr>
                        <tr style=" text-align: left;  font-size: 10px; font-weight: 600;">
                            <td style="width:25%">{{working_details.payable_days}}</td>
                            <td style="width:25%">{{working_details.working_days}}</td>
                            <td style="width:25%">{{working_details.lop_days}}</td>
                            <td style="width:25%">{{working_details.arrear_days}}</td>
                        </tr>
                    </table>

                    <hr>

                    <div style="width:100%;" class="grid-container">
                        <div style=" border-right: 1px solid black;" class="grid-container">
                            <table style="height:5px;">
                                <tr style="text-align:left;  font-size: 10px;  font-weight: 600;">
                                    <td style="width:100px; ">EARNINGS</td>
                                    <td style="width:100px; ">Fixed</td>
                                    {{#if can_show_arrear}}
                                    <td style="width:100px;  ">Arrears</td>
                                    {{/if }}
                                    <td style="width:100px; ">Earned</td>

                                </tr>
                                {{#each overAll_earning_data}}
                                <tr style="text-align: left; font-size: 10px;">
                                    <td style="width:140px; height:20px;">{{this.key}}</td>
                                    <td style="width:120px; height:20px;">{{this.comp_value}}</td>
                                     {{#if this.can_show_arrear}}
                                    <td style="width:100px;height:20px;">{{this.arrear_value}}</td>
                                     {{/if }}
                                    <td style="width:100px;height:20px;">{{this.earning_value}}</td>
                                </tr>
                                
                                {{/each}}

                            </table>

                        </div>
                        <div style="width: 100%;padding-left:5px ">
                            <p style="margin-top:3px !important;text-align: left; width: 100%; padding-left: 5px; font-weight: 600;  font-size: 10px;"> CONTRIBUTIONS</p>
                            <table style="margin-top:-10px;">
                                {{#each contribution as |contribValue contribKey|}}
                                <tr style="text-align: left; padding-left: 5px;  font-size: 10px; height:20px">
                                    <td style="width:100px; ">{{contribKey}}</td>
                                    <td style="text-align: right; width:100px;font: weight 600px !important;  ">{{contribValue}}</td>

                                </tr>
                                {{/each}}
                                <tr style=" text-align: left; padding-left: 5px; font-size: 10px; margin-top: 20px !important;">
                                    <td style=" width:100%; font-weight: 600;  font-size: 10px;">TAXES & DEDUCTIONS</td>
                                </tr>
                                {{#each tax_Deduction as |taxValue taxKey|}}
                                <tr style="  text-align: left; padding-left: 5px;  font-size: 10px; height:20px;">
                                    <td style="width:100%; ">{{taxKey}}</td>
                                    <td style="text-align:right !important; width:100%; ">{{taxValue}}</td>

                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <table>
                            <div style=" width: 100%; " class="grid-container">
                                <tr style="  text-align: left;padding-left: 5px; ">
                                    <td style="width:25%; font-size: 12px; ">Net Salary Payable(A-B)</td>
                                    <td style=" width: 50%; text-align: left; font-weight: 600;font-size: 12px; ">₹ {{over_all.Net_Salary_Payable}}</td>


                                </tr>
                                <tr style=" text-align: left;padding-left: 5px; font-size: 10px; ">
                                    <td style="width:25%; font-weight: 100;  font-size: 12px;">Net Salary in words</td>
                                    <td style="text-align: left; width:25%; font-weight: 600; ">
                                        {{over_all.Net_Salary_in_words}}</td>


                                </tr>
                            </div>
                        </table>
                        <div style="margin-top:20px; !important">
                            <table>
                                <div style="  " class="grid-container">
                                    <tr style="text-align: left; padding-left: 5px; font-size: 10px;">
                                        <td style="font-weight: 600;">**Note : </td>
                                        <td style="text-align: left;  ">All amounts displayed in this payslip are in</td>
                                        <td style="font-weight: 600;">INR </td>


                                    </tr>

                                </div>
                            </table>
                            {{!-- <!-- <h4 style="text-align:  left; font-size: 14px; font-weight: 300;">**Note : All amounts displayed in this payslip are in INR</h4> --> --}}
                            <div class="grid-container">
                                <h4 style="text-align: left; font-size: 8px; font-weight: 300; ">*This is computer
                                    generated statement, does not require signature</h4>

                                <span style="display: inline; font-size:12px; text-align: end;">Generated by
                                    <img src="https://abs-hrms-dev.s3.ap-south-1.amazonaws.com/ardens_business_solutions_private_limited/assets/logo/company_logo.png"
                                        alt="" style="display: inline" width="100px" height="50px">
                                </span>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

</body>


</html>